<link rel="stylesheet" href="email_feedback.css">
<main>
  <div class="feedback-container">
    <h2 class="feedback-heading">Feedback</h2>
    <p><b>Application name</b>: {{appName}}</p>
    <p><b>Sender ID</b>: {{senderId}}</p>
    <p><b>Sender Full Name</b>: {{senderFullName}}</p>
    <p><b>Sender email</b>: {{senderEmail}}</p>
    <p><b>Message</b>: {{message}}</p>
  </div>
</main>
