<link rel="stylesheet" href="email_weekly_summary.css">
<main>
  <div class="stats__container">
    <h2 class="stats-heading">Weekly metrics for {{appName}}</h2>
    <h3 class="stats-date">{{dateStart}} – {{dateFinish}}</h3>
    <p class="stats-paragraph">
      Hope you are having a good week! <br /> Here is a summary of chat usage last week:
    </p>
    <div class="stats-statistics">

      <div class="stats-row">
        <div class="stats-statistics-block">
          <span class="stats-wrapper-title">
            <span class="stats-statistics-title">New Users</span>
          </span>
          <span class="stats-wrapper-value">
            <span class="stats-value-amount grow-up">{{newUsers}}</span>
          </span>
        </div>
        <div class="stats-statistics-block">
          <span class="stats-wrapper-title">
            <span class="stats-statistics-title">Active Users</span>
          </span>
          <span class="stats-wrapper-value">
            <span class="stats-value-amount grow-up">{{activeUsers}}</span>
          </span>
        </div>
      </div>

      <div class="stats-row">
        <div class="stats-statistics-block">
          <span class="stats-wrapper-title">
            <span class="stats-statistics-title">Online Users</span>
          </span>
          <span class="stats-wrapper-value">
            <span class="stats-value-amount grow-up">{{onlineUsers}}</span>
          </span>
        </div>
        <div class="stats-statistics-block">
          <span class="stats-wrapper-title">
            <span class="stats-statistics-title">New Messages</span>
          </span>
          <span class="stats-wrapper-value">
            <span class="stats-value-amount grow-up">{{newMessages}}</span>
          </span>
        </div>
      </div>

    </div>

    <p class="stats-paragraph">
      You now have <b>{{totalUsers}}</b> total users and using <b>{{totalAttachmentSize}}</b> of disk space for attachments.
    </p>

    <p class="stats-paragraph">
      See more on your <a href="{{linkDashboard}}">dashboard</a>.
    </p>

  </div>
</main>
